*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(187, 187, 187);
}
body, input, button{
    font-size: 16px;
    font-family: 'Prompt', sans-serif;

    -webkit-font-smoothing: antialiased;
}